* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', Helvetica;
}

header, section, article, aside, footer, audio, video, datalist, figure, figcaption, main {
    display: block;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    list-style-type: none;
}

.main {
    max-width: 1200px;
    margin: 4rem auto;
}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

    .grid-header {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

.grid-header h4 {
    border-top: 2px solid black;
}
