* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', Helvetica;
}

header, section, article, aside, footer, audio, video, dataset, figure, figcaption, main {
    display: block;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}
